<ion-view view-title="Details" ng-controller="CalendarCtrl">
  <ion-nav-bar-back-button class="button-clear"><i class="ion-arrow-left-c"></i></ion-nav-bar-back-button>
  <ion-content>
    <ion-item class="item-divider text-center" id="account-divider">
      In Group
    </ion-item>

    <ion-list>
      <ion-item class="item">
        hello
          <!-- {{friend.name}} -->
        <!-- <span ng-repeat="friend in i.friends"> -->
          <!-- {{friend}} -->
        <!-- </span> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
