<ion-view view-title="Sleeping">
  <ion-nav-bar-back-button class="button-clear"><i class="ion-arrow-left-c"></i></ion-nav-bar-back-button>
  <ion-content class="padding">
    <img src="../img/sleep.png" alt="sleeping" id="sleeping" width="100%" height="100%">
    <ion-item>
      <div class="col col-70 col-offset-70"> <i class="fa fa-clock-o" aria-hidden="true"></i> Time asleep : </br><b>10 h 46 min</b> </div>

    </ion-item>
    <ion-item>
      <div class="col col-70 col-offset-70"> <i class="fa fa-clock-o" aria-hidden="true"></i> Sleep schedule : </br></br>  <b>10:05 pm</b> bedtime </br> <b>9:06 am</b> wake up </div>

    </ion-item>
    <ion-item>
      <div class="col col-70 col-offset-70"> <i class="fa fa-moon-o" aria-hidden="true"></i> Sleep quality :<br><br>
      <b>1 </b>time awake<br>
        <b>8 </b>time restless<br>
        <b>15 </b>min awake / restless
      </div>

    </ion-item>
  </ion-content>
</ion-view>
