<ion-view view-title="Exercise">
  <ion-content>
    <ion-list>
      <ion-item  href="#/tab/walking">
        <img src="../img/walking.png" alt="walking" id="walking" width="100" height="100">
        <h1 class="exercise_title">Walking</h1>
        <p class="min"><i class="fa fa-clock-o" aria-hidden="true"></i> 45 min</p>
        <p class="heartB"><i class="fa fa-heart" aria-hidden="true"></i> 98 bpm moy</p>
        <p class="kcal"><i class="fa fa-fire" aria-hidden="true"></i> 111 calories</p>

      </ion-item>
      <ion-item>
        <img src="../img/running.png" alt="running" id="running" width="100" height="100">
        <h1 class="exercise_title">Running</h1>
        <p class="min"><i class="fa fa-clock-o" aria-hidden="true"></i> 45 min</p>
        <p class="heartB"><i class="fa fa-heart" aria-hidden="true"></i> 98 bpm moy</p>
        <p class="kcal"><i class="fa fa-fire" aria-hidden="true"></i> 111 calories</p>
      </ion-item>
      <ion-item>
        <img src="../img/weight.png" alt="weight" id="weight" width="100" height="100">
        <h1 class="exercise_title">Weights</h1>
        <p class="min"><i class="fa fa-clock-o" aria-hidden="true"></i> 45 min</p>
        <p class="heartB"><i class="fa fa-heart" aria-hidden="true"></i> 98 bpm moy</p>
        <p class="kcal"><i class="fa fa-fire" aria-hidden="true"></i> 111 calories</p>
      </ion-item>
    </ion-list>  </ion-content>
</ion-view>
