<ion-view view-title="Nutrition">
  <ion-content>
    NUTRITION DATA
	
<head>
 <!-- <link rel="stylesheet" href="www/css/style.css" type="text/css"> -->
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
 <body ng-app="ionicApp" ng-controller="MyCtrl">
 
<ion-header-bar class="bar-positive">
      <h1 class="title">Nutrition</h1>
    </ion-header-bar>

<ion-list class="sidemenu-list">
      <ion-item class="nutrition" href="#/tab/nutrition" >
        <h2>Calorie Intake</h2>
		<p>test test test test</p>
        </br>

      </ion-item>
      <ion-item class="nutrition" href="#/tab/health">
        <h2>Macros</h2>
		<p>test test test test</p>
        </br>

      </ion-item>
      <ion-item class="nutrition" href="#/tab/nutrition">
        <h2>Water</h2>
		<p>test test test test</p>
        </br>
 
      </ion-item>
      <ion-item class="nutrition" href="#/tab/nutrition">
        <h2>Alcohol</h2>
		<p>test test test test</p>
        </br>
 
      </ion-item>	  
    </ion-list>
<style></style>
 <script>
	body
	{
	background-color:red;
	}
 </script>
 </body>
</ion-content>
</ion-view>


