<ion-view overflow-scroll="true" view-title="Nutrition">
  <ion-content class="padding" class="refresh" ng-controller="NutritionCtrl">
  <ion-refresher on-refresh="doRefresh()"> </ion-refresher>
  
    <ion-list class="list">
	
      <ion-item class="" href="#/tab/nutrition" ng-class="{active: isGroupShown(accordion)}">
              <i class="icon" ng-class="isGroupShown(accordion) ? 'ion-minus' : 'ion-plus'"></i>
        <h2 ng-click="test()" class="accordion">Calorie Intake</h2>
		<div class="panel">
			<p>test test test test</p>
        </div>
      </ion-item>

	  
      <ion-item class="" href="#/tab/nutrition">

        <<h2 ng-click="test()" class="accordion">Macros</h2>
		<p>test test test test</p>
        </br>
      </ion-item>

      <ion-item class="" href="#/tab/nutrition">
        <h2 ng-click="test()" class="accordion">Water</h2>
		<p>test test test test</p>
        </br>
      </ion-item>
	  
	  <ion-item class="" href="#/tab/nutrition">
        <h2 ng-click="test()" class="accordion">Alcohol</h2>
		<p>test test test test</p>
        </br>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
