<ion-view view-title="Exercise">
  <ion-content>
    <ion-list>
      <ion-item class="summary_exercise_item">
        <h2 class="summary_exercise">Summary</h2>

        <div class="row">
          <div class="col"><i class="fa fa-clock-o" aria-hidden="true"></i> 2 heures</div>
          <div class="col">Add Exercise</div>
          <div class="col"><i class="fa fa-fire" aria-hidden="true"></i>911 calories</div>

        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col-10"><i class="fa fa-plus-circle fa-3x pull-right" aria-hidden="true"></i> </div>
          <div class="col"></div>
        </div>

      </ion-item>


      <ion-item href="#/tab/walking">
        <div class="row">
          <div class="col"><img src="../img/walking.png" alt="walking" id="walking" width="80" height="80">
          </div>
          <div class="col"><h1 class="exercise_title">Walking</h1></div>
        </div>

        <div class="row">
          <div class="col col-33 col-offset-33"><i class="fa fa-clock-o" aria-hidden="true"></i> 45 min</div>
          <div class="col"><i class="fa fa-fire" aria-hidden="true"></i> 111 calories</div>
        </div>
        <div class="row">
          <div class="col col-33 col-offset-33"><i class="fa fa-heart" aria-hidden="true"></i> 98 bpm moy</div>
        </div>
      </ion-item>

      <ion-item>
        <div class="row">
          <div class="col"><img src="../img/running.png" alt="running" id="running" width="80" height="80">
          </div>
          <div class="col"><h1 class="exercise_title">Running</h1></div>
        </div>
        <div class="row">
          <div class="col col-33 col-offset-33"><i class="fa fa-clock-o" aria-hidden="true"></i> 45 min</div>
          <div class="col"><i class="fa fa-fire" aria-hidden="true"></i> 111 calories</div>
        </div>
        <div class="row">
          <div class="col col-33 col-offset-33"><i class="fa fa-heart" aria-hidden="true"></i> 98 bpm moy</div>
        </div>
      </ion-item>

      <ion-item>
        <div class="row">
          <div class="col">        <img src="../img/weight.png" alt="weight" id="weight" width="80" height="80">

          </div>
          <div class="col"><h1 class="exercise_title">Weights</h1></div>
        </div>
        <div class="row">
          <div class="col col-33 col-offset-33"><i class="fa fa-clock-o" aria-hidden="true"></i> 45 min</div>
          <div class="col"><i class="fa fa-fire" aria-hidden="true"></i> 111 calories</div>
        </div>
        <div class="row">
          <div class="col col-33 col-offset-33"><i class="fa fa-heart" aria-hidden="true"></i> 98 bpm moy</div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
