<ion-view overflow-scroll="true" view-title="Nutrition">
  <ion-content class="padding" class="refresh" ng-controller="NutritionCtrl">
  <ion-refresher on-refresh="doRefresh()"> </ion-refresher>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>

<input type="date" ng-model="dateSelected" ng-change="changeDate(dateSelected)" />
<ion-list><!--main list-->
<h3 ng-repeat="Day in Days">{{Day}}</h3>
      <ion-list>
        <div ng-repeat="group in groups">
		
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            <h2 class="title">Calorie Intake<i class="icon ion-fork"></i> <br>987/1700</h2>
			
			<ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
             Protein<br>25%
          </ion-item>
		  <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
             Carbs<br>20g/60%
          </ion-item>
		  <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
             Fats<br>20g/60%
          </ion-item>
          </ion-item>
        </div>
      </ion-list>

	  <ion-list>
        <div ng-repeat="group in groups2">
		
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            <h2 class="title">Micros<i class="icon ion-fork"></i><br>987/1700 </h2>
			
			<ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
             Calcium<br>10mg
          </ion-item>
		  <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
             Vitamin B12<br>20mg
          </ion-item>
		  <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
             Zinc<br>20g
          </ion-item>
		  <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
             Iron<br>20g
          </ion-item>
		  <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
             Uranium<br>20g
          </ion-item>
		  <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
             Vitamin D<br>20g
          </ion-item>
		  <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
             Vitamin C<br>20g
          </ion-item>
          </ion-item>
        </div>
      </ion-list>
	  <ion-list>
        <div ng-repeat="group in groups3">
		
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            <h2 class="title">Water<i class="icon ion-fork"></i><br>987/1700</h2>
			
			 <i class="icon ion-ios-water"></i>
			<ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
             Glasses of water: 12 glass<br>
			 Fluid oz: 9
          </ion-item>
          </ion-item>
        </div>
      </ion-list>
</ion-list><!--end main list -->	  
	  
	  
	  <!-- GRAPH TEST -->
	  
	  <h3>BMI Graph</h3>
    <canvas id="bar" class="chart chart-line" data="graph.data" labels="graph.labels" series='graph.series' height="30"></canvas>
	  
  </ion-content>
</ion-view>


<!--
Macros
Water
Alcohol

-->