<ion-view overflow-scroll="true" view-title="Dashboard">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="exercise" >
        <h1>Exercise</h1>
        </br>
        You're on the right Track

      </ion-item>
      <ion-item class="health">
        <h1>Health</h1>
        </br>

        Your heart beat is higher than normal
      </ion-item>
      <ion-item class="nutrition">
        <h1>Nutrition</h1>
        </br>

        You need to consume 2000 more calories
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
