<ion-view view-title="Account" ng-controller="AccountCtrl">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item item-divider text-center" id="account-divider">My Information</ion-item>
      <label class="item item-input item-label" ng-repeat="label in infoLabels">
        <span class="input-label">{{label.title}}</span>
        <input type="text" placeholder="{{label.placeholder}}">
      </label>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider text-center" id="account-divider">My Goals</ion-item>

      <ion-item class="item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Type in a goal" ng-model="text">
        </label>
        <button class="button button-small button-balanced text-center" ng-tap()="addGoal()" ng-model="text"><i class="ion-plus-circled"></i> Add Goal</button>
      </ion-item>

      <ion-checkbox ng-repeat="goal in goals" ng-model="goal.checked" ng-checked="goal.checked">{{goal.text}}</ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
