<ion-view view-title="Health">
  <ion-content>
    <ion-list>
      <ion-item href="#/tab/sleeping">
        <div class="row">
          <div class="col">        <img src="../img/sleeping.png" alt="sleeping" id="sleeping" >
          </div>
          <div class="col"><h1 class="exercise_title">Sleeping</h1></div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col col-70 col-offset-70"><i class="fa fa-clock-o" aria-hidden="true"></i> 10h 46min</div>
        </div>
      </ion-item>

      <ion-item href="#/tab/bpm">
        <div class="row">
          <div class="col"><img src="../img/bpm.png" alt="bpm" id="bpm" width="100">
          </div>
          <div class="col"><h1 class="exercise_title">BPM</h1></div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col col-70 col-offset-70 pull-right"><i class="fa fa-heart" aria-hidden="true"></i> 61 bpm resting</div>
        </div>      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
