<ion-view view-title="Weights">
  <ion-nav-bar-back-button class="button-clear"><i class="ion-arrow-left-c"></i></ion-nav-bar-back-button>
  <ion-content class="padding">
    <ion-item class="summary_exercise_item">
      <h2 class="summary_exercise">Summary</h2>

      <div class="row">
        <div class="col"><i class="fa fa-clock-o" aria-hidden="true"></i> 1 hour 28 min</div>
        <div class="col"><i class="fa fa-fire" aria-hidden="true"></i> 547 calories</div>
      </div>

      <div class="row">
        <div class="col"><i class="fa fa-heart" aria-hidden="true"></i> 104 bpm </div>
      </div>

    </ion-item>


    <ion-item>

      <div class="row">
        <div class="col"><h2>3:07pm-3:59pm</h2>

        </div>
      </div>

      <div class="row">
        <div class="col"><i class="fa fa-clock-o" aria-hidden="true"></i> 52 min</div>
        <div class="col"><i class="fa fa-fire" aria-hidden="true"></i> 317 calories</div>
      </div>
      <div class="row">
        <div class="col"><i class="fa fa-heart" aria-hidden="true"></i> 98 bpm moy</div>
      </div>
      <img src="../img/walking_19.jpg" width="100%">
    </ion-item>

    <ion-item>

      <div class="row">
        <div class="col"><h2>6am-6:45am</h2>

        </div>
      </div>

      <div class="row">
        <div class="col"><i class="fa fa-clock-o" aria-hidden="true"></i> 36 min</div>
        <div class="col"><i class="fa fa-fire" aria-hidden="true"></i> 230 calories</div>
      </div>
      <div class="row">
        <div class="col"><i class="fa fa-heart" aria-hidden="true"></i> 111 bpm moy</div>

      </div>
      <img src="../img/walking_29.jpg" width="100%">

    </ion-item>
  </ion-content>
</ion-view>
