.exercise{
  background-color: rgb(216,238,207)!important;
  text-align: center;
  height: 24vh;


}
.health{
  background-color: rgb(239,214,214);
  text-align: center;
  height: 24vh;

}
.nutrition{
  background-color: rgb(251,247,220);
  text-align: center;
  height: 24vh;
}


.sidemenu-list .item-complex .item-content {
  background-color: inherit;
}

.center{
 text-align: center;

}

.fa-heart{
  color: darkred;
}

.fa-fire{
  color: orange;
}

.fa-clock-o{
  color: #0c60ee;
}

.fa-plus-circle{
  color: #0d9ba5;
}

.summary_exercise_item{
  background-color: #e7fcfd;
  font-style: italic;
}

.fa-map-marker{
  color: green;
}
